h1 {
    text-align: center;
    background-color: #fff;
    padding-bottom: 20px;
}

.example-container {
    width: 100%;
    height: 83%;
    /* border: 1px solid #555; */
}

.content {
    margin-left: 15% !important;
}

button {
   position: fixed;
   top: 20%;
   right: 5%;
}

.aaa{
    color: red;
}
